@font-face {
    font-family: 'elden';
    src: url("../../assets/fonts/Mantinia.otf");
}

#lore{
    font-size: 18px !important;
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.445);
}



p#lore::first-letter{
    font-size: 3em;
    font-family: 'elden';
    color:  #ffbf00;
}