html,
body {
  margin: 0 ;
  padding: 0 ;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:lighter;
  font-style: normal;
  overflow-x: hidden;
  cursor: url('./assets/'), auto;
  background-image: url('./assets/giflogo.gif');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  
}
